* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

header {
    width: fit-content;
}

.img-box {
text-align: center;
    background-color: grey;
}

.img-box img {
    width: 20%;
    border-radius: 50%;
    border: 12px solid #333333
    
}

img {
    max-width: 100%;
}