

.top-img {
    max-width: fit-content;
}

body {
    max-width: 360px;
    overflow: hidden;
    display: grid;
    padding-left: 20em;
    padding-right: 20em;
    border-radius: 10;
    background-color: black;
}

.nw-art {
    background-color: white;
}

.date {
    color: navy;
    text-align: center;
    
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

article {
    text-align: center;
    color: grey;
}

footer{
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#1 {
    grid-column: 1;
}

#2 {
    grid-column: 2;
}

#3 {
    grid-column: 3 ;
}